<div class="container text-center">
  <h1>About</h1>
  <div class='row'>
    <div class='col-md-12'>
      <p>
        STリハ辞書は言語聴覚士（ST）のための訓練内容共有サイトです。<br>
        臨床を行っていて「他の病院（施設）のSTはどんな訓練をしているんだろう？」と疑問を持ったことはありませんか？<br>
        これまで訓練内容を共有できるサイトは少なく、<br>
        研修会で他院（他施設）のSTに直接聞いたり、学生時代の仲間に聞くくらいしかなかったと思います。<br>
        そんな悩みを解決できるのが、「STリハ辞書」です。<br>
        ぜひSTリハ辞書を活用して、全国のSTと訓練の共有をし、臨床に活かしてください。
      </p>
      <%= image_tag '聴診器.webp', size: "800x500", class: "about_image" %>
    </div>
  </div>
</div>
