<h1>About</h1>
<p>
  STリハ辞書は言語聴覚士（ST）のための訓練内容共有サイトです。</br>
  これまで臨床を行っていて、「他のSTはどんな訓練をしているんだろう？」と</br>
  疑問を持ったことはありませんか？</br>
  これまで訓練内容を共有できるサイトは少なく、</br>
  研修会などで他院・他施設のSTに直接聞く、学生時代の友人に聞くくらいしかなかったと思います。</br>
  そんな悩みを解決できるのが、「STリハ辞書」です。</br>
  ぜひ、STリハ辞書を活用して自身の取り入れている訓練の共有、</br>
  他者の訓練内容を見て、訓練の引き出しを増やしてみましょう。
</p>
