<div class="text-center">
  <div class='row'>
    <div class='col-md-12'>
      <h1>About</h1></br>
      <p>
        STリハ辞書は言語聴覚士（ST）のための訓練内容共有サイトです。</br>
        臨床を行っていて「他の病院（施設）のSTはどんな訓練をしているんだろう？」と疑問を持ったことはありませんか？</br>
        これまで訓練内容を共有できるサイトは少なく、</br>
        研修会で他院（他施設）のSTに直接聞いたり、学生時代の仲間に聞くくらいしかなかったと思います。</br>
        そんな悩みを解決できるのが、「STリハ辞書」です。</br>
        ぜひSTリハ辞書を活用して、全国のSTと訓練の共有をし、自身の引き出しを増やし臨床に活かしてください。
      </p>
    </div>
  </div>
</div>
