<div class='container'>
  <h1><strong><font color='#52734d'>STリハ辞書</font></strong></h1>
  <div class='row'>
    <div class='col-md-9'>
      <p>
        ようこそ、STリハ辞書へ！<br>
        このサイトは、言語聴覚士のための訓練内容共有サイトになります。<br>
        投稿内容の信頼性保持のためにも、<br>
        投稿、閲覧ともにユーザー登録が必要となります。
      </p>
    </div>
    <div class='col-md-3 text-right'>
      <p>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>&emsp;
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
      </p>
      <p><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-primary" %></p>
    </div>
  </div>
</div>