<div class="text-center">
  <h1>STリハ辞書</h1>
  <div class='row'>
    <div class='col-md-12'>
        <p>
          ようこそ、STリハ辞書へ！</br>
          このサイトは、言語聴覚士のための訓練内容共有サイトになります。</br>
          投稿内容の信頼性保持のためにも、</br>
          投稿、閲覧ともにユーザー登録が必要となります。
        </p>
    </div>
  </div>
</div>