// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_field input,
.edit_field textarea {
  display: block;
  margin-bottom: 16px;
}

/*
 margin: 0 auto;
 display: flex;
*/

// .edit_field form {
//   margin: 0 auto;
// }

// .edit_field {
//   text-align: center;
// }